<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JNcK Express</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>

  <!--==========================
    Header
    ============================-->
    <header id="header">
      <div class="container-fluid">

        <div id="logo" class="pull-left">
          <h1><a class="scrollto">JNcK</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#intro">Home</a></li>
            <li class="menu-has-children"><a href="#services">JNcK Services</a></li>
            <li class="menu-has-children"><a href="#about">About Us</a></li>
            <!-- <li><a href="#team">Carreer</a></li> -->
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

  <!--==========================
    Intro Section
    ============================-->
    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

          <!-- <ol class="carousel-indicators"></ol> -->

          <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
              <div class="carousel-background"><img src="img/intro-carousel/2.jpg" alt=""></div>
              <div class="carousel-container">
                <div class="carousel-content">
                  <h2>JNcK Express</h2>
                  <p>The goal of JNcK Express is to connects the world through leading logistics expeditions</p>
                  <a href="#about" class="btn-get-started scrollto">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #intro -->

    <main id="main">

    <!--==========================
      About Us Section
      ============================-->
      <section id="about">
        <div class="container">

          <header class="section-header">
            <h3>About Us</h3>
            <p>JNcK merupakan perusahaan yang bergerak dalam bidang pengiriman dan logistik yang bermarkas di Surabaya, Indonesia.</p>
          </header>

          <div class="row about-cols">

            <div class="col-md-4 wow fadeInUp">
              <div class="about-col">
                <div class="img">
                  <img src="img/about-mission.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Vission</a></h2>
                <p>
                  JNcK hadir untuk menjadi perusahaan terdepan di dunia dalam bidang pengiriman dan logistik
                </p>
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
              <div class="about-col">
                <div class="img">
                  <img src="img/about-vision.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Mision</a></h2>
                <p>
                  Bertanggung jawab secara konsisten untuk memberikan pengalaman terbaik kepada pelanggan
                </p>
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="about-col">
                <div class="img">
                  <img src="img/about-plan.jpg" alt="" class="img-fluid">
                  <div class="icon"><i class="ion-ios-list-outline"></i></div>
                </div>
                <h2 class="title"><a href="#">Our Commitment</a></h2>
                <p>
                  Menyediakan berbagai layanan seperti trace & tracking, tarif check, dan high availability (24 hours customer service)
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- #about -->

    <!--==========================
      Services Section
      ============================-->
      <section id="services">
        <div class="container">

          <header class="section-header wow fadeInUp">
            <h3>Services</h3>
            <p>JNcK menyediakan layanan berupa Tarif Check dan Trace & Tracking</p>
          </header>

          <div class="row mx-auto well col-lg-12 mt-5">
            <div class="col-lg-6 col-centered" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <h4 style="text-align: center;" class="title"><a href="">Rates</a></h4>
              <div class="col">
                <!-- <form> -->
                  <div class="form-group">
                    <label for="origin">Origin:</label>
                    <select class="form-control" id="origin">
                      <option>Select Province</option>
                      <option value="BALI">BALI</option>
                      <option value="JAKARTA">JAKARTA</option>
                      <option value="JAWA BARAT">JAWA BARAT</option>
                      <option value="JAWA TENGAH">JAWA TENGAH</option>
                      <option value="JAWA TIMUR">JAWA TIMUR</option>
                      <option value="NUSA TENGGARA TIMUR">NUSA TENGGARA TIMUR</option>
                      <option value="PAPUA">PAPUA</option>
                      <option value="SULAWESI SELATAN">SULAWESI SELATAN</option>
                      <option value="SUMATERA UTARA">SUMATERA UTARA</option>
                      <option value="YOGYAKARTA">YOGYAKARTA</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="destination">Destination:</label>
                    <select class="form-control" id="destination">
                      <option>Select Province</option>
                      <option value="BALI">BALI</option>
                      <option value="JAKARTA">JAKARTA</option>
                      <option value="JAWA BARAT">JAWA BARAT</option>
                      <option value="JAWA TENGAH">JAWA TENGAH</option>
                      <option value="JAWA TIMUR">JAWA TIMUR</option>
                      <option value="NUSA TENGGARA TIMUR">NUSA TENGGARA TIMUR</option>
                      <option value="PAPUA">PAPUA</option>
                      <option value="SULAWESI SELATAN">SULAWESI SELATAN</option>
                      <option value="SUMATERA UTARA">SUMATERA UTARA</option>
                      <option value="YOGYAKARTA">YOGYAKARTA</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="type">Shipping Type</label>
                    <select class="form-control" id="type">
                      <option value="1">JNcK</option>
                      <option value="2">Express</option>
                      <option value="3">Regular</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="weight">Weight (Kg)</label>
                    <input type="text" class="form-control" id="weight" name="weight">
                  </div>
                  <button type="submit" id="ship_price" class="btn btn-primary">Check</button>
                  <!-- </form> -->
                  <h3 id="price_result"></h3>
                </div>
              </div>

              <div class="col-lg-6 col-centered" data-wow-delay="0.1s" data-wow-duration="1.4s">
                <h4 style="text-align: center;" class="title"><a href="">Trace & Track</a></h4>
                <div class="col">
                  <div class="form-group">
                    <label for="resi">No Resi</label>
                    <input type="text" class="form-control" id="resi" name="resi" placeholder="E.g: JNcK01234567">
                  </div>
                  <button type="submit" id="ship_detail" class="btn btn-primary">Check</button>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody id="resi_result">

                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- #services -->

    </main>

  <!--==========================
    Footer
    ============================-->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-md-6 footer-info">
              <h3>JNcK</h3>
              <p>JNcK hadir sebagai perusahaan yang bergerak dalam bidang pengiriman dan logistik dengan harapan menjadi rantai pasok terdepan di dunia yang memenuhi kebutuhan pelanggan secara konsisten</p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">Our Services</a></li>
                <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-contact">
              <h4>Contact Us</h4>
              <p>
                Siwalankerto VIII Blok AA6 <br>
                Surabaya, Wonocolo 60236<br>
                Indonesia <br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> jnck@gmail.com<br>
              </p>

              <div class="social-links">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong>JNcK</strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!--  <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/superfish/hoverIntent.js"></script>
    <script src="lib/superfish/superfish.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="contactform/contactform.js"></script>
    <script src="js/main.js"></script>

    <script>
      function load(){
        $("#price_result").html("");
        $.ajax({
          url: '/api/shipping_price',
          method: 'GET',
          success:function(data){
            data.forEach(function(value,index){
              var item = '<h4>'+value['harga']+'</h4>';
              console.log(value['harga']);
              $("#shipping_price").append("Harga: Rp " + item);
            });
          }
        });
      }

      $(document).ready(function() {
        $("#ship_price").click(function(){
          var send_data={
            'ori' : $("#origin").val(),
            'dest' : $("#destination").val(),
            'w' : $("#weight").val(),
            'type' : $("#type").val()
          };
          var string = "" + send_data['ori'] + '&' + send_data['dest'] + '&' + send_data['w'] + '&' + send_data['type'];
          $.ajax({
            url:'/api/shipping_price/s/' + string,
            headers:{
              'Content-Type':'application/json'
            },
            method : 'GET',
            data : JSON.stringify(send_data),
            success:function(data){
              $("#price_result").html("Harga: Rp " + data);
            }
          });
        });

        $("#ship_detail").click(function(){
          var send_data={
            'resi' : $("#resi").val()
          };
          var string = send_data['resi'];
          $.ajax({
            url:'/api/shipping_track/' + string,
            headers:{
              'Content-Type':'application/json'
            },
            method : 'GET',
            success:function(data){
              $("#resi_result").html("");
              data.forEach(function(value,index){
                var status;
                if(value['status'] == 1){
                  status = "Pesanan Dibuat";
                }
                else if(value['status'] == 2){
                  status = "Paket dikirimkan ke ";
                }
                else if(value['status'] == 3){
                  status = "Paket telah sampai di ";
                }
                var item = '<tr>'+'<td>'+value['date']+'</td>';
                item+='<td>' + value['time'] + '</td>';
                item+='<td>' + status + '</td>';
                item+='<td>' + value['location'] + '</td>';
                item+='</tr>';
                $("#resi_result").append(item);
              });
            }
          });
        });

      });
    </script>

  </body>
  </html>
